:root {
  --accent-primary: #164633;
  --accent-secondary: #a4a8a4;
  --text-primary: #171616;
  --text-secondary: #a4a8a4;
  --text-inverse-primary: #fff;
  --text-inverse-tertiary: #f7f7f7;
  --interactive-primary: #02975b;
  --interactive-foreground-primary: #ffffff;
  --interactive-foreground-inverse-primary: #171717;
  --interactive-foreground-inverse-tertiary: #f7f7f7;
  --background-secondary: #f1f1f1;
  --background-tertiary: #f7f7f7;
  --background-inverse-secondary: #313131;
  --success-background: #d1d5db;
  --stroke-border: #d1d5db;
  --divider: #d1d5db;
  --graph-tertiary: #00FF80;
  --text-inverse-highlight: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
 
  font-family: sans-serif; /* Fallback font */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
}
